@model QuanLyNhanKhau.Models.NhanKhau

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Edit</h2>

<h4>NhanKhau</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdNhanKhau" />
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiDanh" class="control-label"></label>
                <input asp-for="BiDanh" class="form-control" />
                <span asp-validation-for="BiDanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiSinh" class="control-label"></label>
                <input asp-for="NoiSinh" class="form-control" />
                <span asp-validation-for="NoiSinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NguyenQuan" class="control-label"></label>
                <input asp-for="NguyenQuan" class="form-control" />
                <span asp-validation-for="NguyenQuan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanToc" class="control-label"></label>
                <input asp-for="DanToc" class="form-control" />
                <span asp-validation-for="DanToc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgheNghiep" class="control-label"></label>
                <input asp-for="NgheNghiep" class="form-control" />
                <span asp-validation-for="NgheNghiep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiLamViec" class="control-label"></label>
                <input asp-for="NoiLamViec" class="form-control" />
                <span asp-validation-for="NoiLamViec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CMND" class="control-label"></label>
                <input asp-for="CMND" class="form-control" />
                <span asp-validation-for="CMND" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayCapCMND" class="control-label"></label>
                <input asp-for="NgayCapCMND" class="form-control" />
                <span asp-validation-for="NgayCapCMND" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiCapCMND" class="control-label"></label>
                <input asp-for="NoiCapCMND" class="form-control" />
                <span asp-validation-for="NoiCapCMND" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDangKi" class="control-label"></label>
                <input asp-for="NgayDangKi" class="form-control" />
                <span asp-validation-for="NgayDangKi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiTruoc" class="control-label"></label>
                <input asp-for="DiaChiTruoc" class="form-control" />
                <span asp-validation-for="DiaChiTruoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuanHe" class="control-label"></label>
                <input asp-for="QuanHe" class="form-control" />
                <span asp-validation-for="QuanHe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soHoKhau" class="control-label"></label>
                <select asp-for="soHoKhau" class="form-control" asp-items="ViewBag.soHoKhau"></select>
                <span asp-validation-for="soHoKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
