@model ErrorViewModel
@{
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
    ViewData["Title"] = "Thông báo hệ thống";
}

<h1 class="text-danger">Có lỗi xảy ra!</h1>
<h2 class="text-danger">@Model.noiDung</h2>